<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Cliente</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <h1>Modificar Clientes del Inventario</h1>
    <div class="img"><img src="img/Captura de pantalla 2023-07-03 202421.png" alt="codoacodo" width="100px"></div>
    <h3>Codo a Codo 2023</h3>
    <div id="app">
        <form @submit.prevent="obtenerCliente">
            <label for="cuit">CUIT:</label>
            <input type="text" v-model="cuit" required><br>
            <button type="submit">Modificar Cliente</button> <a href="index.html">Menu principal</a>
        </form>

        <div v-if="mostrarDatosCliente">
            <h2>Datos del Cliente</h2>
            <form @submit.prevent="guardarCambios">
                <label for="razonSocialModificar">Razón Social:</label>
                <input type="text" id="razonSocialModificar" v-model="razonSocial" required><br>

                <label for="direccionModificar">Dirección:</label>
                <input type="text" id="direccionModificar" v-model="direccion" required><br>

                <label for="contactoModificar">Tel de Contacto:</label>
                <input type="number" step="0.01" id="contactoModificar" v-model="contacto" required><br>

                <button type="submit">Guardar Cambios</button>
                <a href="modificaciones.html">Cancelar</a>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        //const URL = "http://127.0.0.1:5000/"
        const URL = "https://vanyfer.pythonanywhere.com/"

        const app = Vue.createApp({
            data() {
                return {
                    cuit: '',
                    mostrarDatosCliente: false,
                    razonSocial: '',
                    direccion: '',
                    contacto: ''
                }
            },
            methods: {
                obtenerCliente() {
                    fetch(URL + 'clientes/' + this.cuit)
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Error al obtener los datos del cliente.')
                            }
                        })
                        .then(data => {
                            this.razonSocial = data.razonSocial
                            this.direccion = data.direccion
                            this.contacto = data.contacto
                            this.mostrarDatosCliente = true
                        })
                        .catch(error => {
                            alert('Error al obtener los datos del cliente.')
                        })
                },
                guardarCambios() {
                    const cliente = {
                        cuit: this.cuit,
                        razonSocial: this.razonSocial,
                        direccion: this.direccion,
                        contacto: this.contacto
                    }

                    fetch(URL + 'clientes/' + this.cuit, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(cliente)
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Error al guardar los cambios del cliente.')
                            }
                        })
                        .then(data => {
                            alert('Cambios guardados correctamente.')
                            location.reload()
                        })
                        .catch(error => {
                            alert('Error al guardar los cambios del cliente.')
                        })
                }
            }
        })

        app.mount('#app')
    </script>
</body>

</html>
